<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=big5">
  
   

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IEEE Selçuk Öğrenci Kolu</title>
  <link href="assets/css/404.css" rel="stylesheet" type="text/css">
  <base href="http://www.ieeeselcuk.com/" />
  <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>

 <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon.png">
 <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icon.png">


</head>

<body>

        <!-- Error Page -->
        <div class="cont_principal">
<div class="cont_error">
  
<h1>Oops</h1>  
  <p>404 Hata Sayfası</p>
  <a class="btn" href="../">ANASAYFA</a>
  </div>
<div class="cont_aura_1"></div>
<div class="cont_aura_2"></div>

</div>
        
    <script src="assets/js/404.js"></script>
</body>


</html>